<h1>All the tasks</h1>

<% @tasks.each do |task| %>
  <h3><%= check_box_tag '[]', task.completed %>
  <%= link_to task.title, show_path(task)%><%= link_to 'Remove task', task_delete_path(task), method: :delete%></h3>
<% end %>
